@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body {
  font-family: 'Poppins', sans-serif;
}

.refresh{
  height: 100%;
}

.text3 {
  color: #afaba2;
  display: inline;
}

.refreshButton:hover {
  background-color: #806f5d;
  width: 90vh;
  margin-top:5px;
  margin-bottom:5px;
  border-radius: 5px;
  padding:10px;
  height: 7vh;
}
.refreshButton {
  background-color: #afaba2;
  color:#272727;
  border-radius:5px;
  border-color: #afaba2;
  width: 90vh;
  margin-top:5px;
  margin-bottom:5px;
  border-radius: 5px;
  padding:10px;
  height: 7vh;
}
 