@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body {
  font-family: 'Poppins', sans-serif;
}

.refresh{
  height: 100%;
}

.text3 {
  color: #afaba2;
  display: inline;
}
 